@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 100px;
  background-color: #4AC7CF;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-title {
  font-size: 100px;
  color: #FEDC74;
  margin: 0;
  font-family: 'LOTTERIACHAB', sans-serif;
}

.main-subtitle {
  font-size: 24px;
  color: white;
  margin: 10px 0;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 20px;
}

.search-bar input {
  margin: 10px;
  outline: none;
  width: 300px;
  background-color: #4AC7CF;
  border: 0;
  color: white;
}

.search-bar input::placeholder {
  color: white;
}

 .search-button {
  padding: 10px 20px;
  border: 0px white;
  border-radius: 0 50px 50px 0;
  cursor: pointer;  
  font-size: 16px;
  color: white;
  background-color: #4AC7CF;
}

.main-image {
  width: 500px;
  height: auto;
}
