.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4AC7CF;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; /* 좌우로 이동할 때 콘텐츠가 잘리지 않도록 */
  padding: 10px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* 화면 높이 전체를 차지 */
  width: 100vw; /* 화면 너비 전체를 차지 */
}

.image1, .image2, .image3 {
  height: 100%; /* 화면 높이에 맞게 */
  width: 100%; /* 화면 너비에 맞게 */
}

.image1 {
  position: relative;
}

.image2 {
  margin-left: 10%;
  margin-top: 6%;
  width: 88%;
}

.image3 {
}

.searchBar {
  position: absolute;
  left: 8%;
  top: 54%;
  width: 10%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 20px;
}

.searchBar input {
  width: 100%;
  margin: 10px;
  outline: none;
  background-color: #4AC7CF;
  border: 0;
  color: white;
}

.searchBar input::placeholder {
  color: white;
}

.searchButton {
  padding: 10px 20px;
  border: 0px white;
  border-radius: 0 50px 50px 0;
  cursor: pointer;  
  font-size: 16px;
  color: white;
  background-color: #4AC7CF;
}

/* 화살표 컨테이너 스타일 */
.arrowContainer {
  position: absolute;
  height: 80%;
  width: 20%; /* 전체 화면의 20% */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

.arrowContainer.left {
  left: 0;
}

.arrowContainer.right {
  right: 0;
}

.arrow {
  width: 68%;
}

.arrow:hover {
  opacity: 1;
}

/* 화살표는 호버할 때만 보이게 */
.arrowContainer:not(:hover) .arrow {
  display: none;
}
