.color-text {
    color: #2E2E2E;
    font-size: 16px;
    font-family: Noto Sans KR Medium;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
}

.font-background-color-container{
    margin-top: 26px;
}

.font-background-colors {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 12px;
    margin-top: 14px;
}

.font-background-color1 {
    width: 39px;
    height: 24px;
    background: #F8CDCC;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.font-background-color2 {
    width: 39px;
    height: 24px;
    background: #FE6F96;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.font-background-color3 {
    width: 39px;
    height: 24px;
    background: #E2D4F4;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.font-background-color4 {
    width: 39px;
    height: 24px;
    background: #6F69AC;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.font-background-color5 {
    width: 39px;
    height: 24px;
    background: #CEE2F5;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.font-background-color6 {
    width: 39px;
    height: 24px;
    background: #719FAF;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.font-background-color7 {
    width: 39px;
    height: 24px;
    background: #D1E8E5;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.font-background-color8 {
    width: 39px;
    height: 24px;
    background: #95DAC1;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.font-background-color9 {
    width: 39px;
    height: 24px;
    background: #FBF0CF;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.font-background-color10 {
    width: 39px;
    height: 24px;
    background: white;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.font-background-color11 {
    width: 39px;
    height: 24px;
    background: #E9DBD0;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.font-background-color12 {
    width: 39px;
    height: 24px;
    background: black;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}