.archiving-popup-info {
    display: flex;
    align-items: end;
    margin-top: 5px;
}

.archiving-popup {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 167px;
    padding: 1px;
    cursor: pointer;
}


.archiving-popup.deletable:hover {
    background-color: #FEDC74;
    /* 선택된 경우 배경색 */
}

.archiving-popup.selected {
    background-color: #FEDC74;
    /* 선택된 경우 배경색 */
}

.archiving-image {
    width: 83.94px;
    height: 133.37px;
    border-radius: 10px;

}


.archiving-popup-content {
    margin-bottom: 2px;
    margin-left: 3.75px;

}

.archiving-popup-title {
    margin-top: 5px;
    color: black;
    font-size: 9.33px;
    font-family: Noto Sans KR Regular;
    font-weight: 400;
    line-height: 18.65px;
    word-wrap: break-word;

}

.archiving-popup-title-none {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.20);
    font-size: 9.33px;
    font-family: Noto Sans KR Regular;
    font-weight: 400;
    line-height: 18.65px;
    word-wrap: break-word;

}

.archiving-popup-name-wrapper {
    width: 45px;
    /* 원하는 너비 */
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.archiving-popup-name {
    display: inline-block;
    transition: transform 2s ease-in-out;
    color: #9D9D9D;
    font-size: 8px;
    font-family: Noto Sans KR Regular;
    word-wrap: break-word;
    transform: translateX(0);
    /* 기본 상태에서 시작 위치로 설정 */
}

/* 마우스를 올렸을 때 오른쪽으로 스르륵 흐르는 효과 */
.archiving-popup-name-wrapper:hover .archiving-popup-name {
    transform: translateX(-100%);
    /* 텍스트를 왼쪽으로 밀어서 오른쪽으로 흐르도록 설정 */
}



.archiving-visit-date {
    margin-top: 2px;
    color: black;
    font-size: 18px;
    font-family: Noto Sans KR Regular;
    line-height: 18.65px;
    word-wrap: break-word;
}