.mapSection {
  background-color: #4AC7CF;
  padding: 0;
  margin: 0;
  position: relative; 
  height: 100vh;
}

.mainContainer {
  padding: 100px;
  margin: 0 auto;
}

.mapHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-family: 'Noto Sans KR Bold', sans-serif;
}

.leftText{
  font-size: 18px;
  color: white;
}

.rightText{
  font-size: 12px;
  color: white;
}

.mapContainer {
  width: 100%;
  height: 400px;
  border-radius: 16px;
}

.bottomImage {
  display: block;
  width: 100%;
  position: absolute;
}