.custom-options {
    margin-top: 25px;
    margin-left: 67px;
}

.add-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 653px;
    height: 57px;
    background-color: #EEEEEE;
    border-radius: 15px;

}

.add-text-button {
    width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    background: #BBBBBB;
    border: none;
    border-radius: 15px
}


.rayout-font {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.rayout {
    background-color: #EEEEEE;
    border-radius: 15px;
    width: 60%;
    height: 266px;

}

.font {
    background-color: #EEEEEE;
    border-radius: 15px;
    width: 40%;
    height: 266px;

}

.image-sticker-background {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    gap: 17px;
}


.image {
    background-color: #EEEEEE;
    border-radius: 15px;
    width: 20%;
    height: 266px;

}



.background {
    background-color: #EEEEEE;
    border-radius: 15px;
    width: 20%;
    height: 266px;

}

.making-card-view {
    display: flex;
    flex-direction: row;
}

.maked-card {
    background-color: #E0E0E0;
    width: 292px;
    height: 500.29px;
    margin-top: 53px;
    border-radius: 15px;
}