.card-making-container {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: scale(0.8);

}

.making-button-container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.saving-button-container {
    display: flex;
    flex-direction: column;
    margin-top: 108px;
}


.moving-button {
    background-color: #BBBBBB;
    border: none;
    border-radius: 15px;
    padding: 14px;
    font-size: 17px;
    color: white;
    font-family: Noto Sans KR;
    font-weight: 500;
    line-height: 15px;
    word-wrap: break-word;
    width: 94px;
    cursor: pointer;
}

.card-save-button {
    margin-top: 16px;
    background-color: #FEDC74;
    border: none;
    border-radius: 15px;
    padding: 14px;
    font-size: 17px;
    color: #B4643A;
    font-family: Noto Sans KR;
    font-weight: 500;
    line-height: 15px;
    word-wrap: break-word;
    width: 94px;
    cursor: pointer;

}

.making-card-text {
    display: flex;
    align-items: center;
    color: #171717;
    font-size: 30px;
    font-family: Noto Sans KR Medium;
    font-weight: 600;
    margin-left: 45px;
}

.making-card-option {
    margin-left: 20px;
    color: #171717;
    font-size: 19px;
    font-family: Noto Sans KR Medium;
    font-weight: 600;
    text-transform: uppercase;

}

.adjust-buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 5px;
    margin-left: 70px;
    margin-right: 10px;
    gap: 20px;

}


.card-making-container-new {
    position: relative;
    min-height: 100vh;
    /* 전체 화면 높이를 차지하도록 설정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 하단에 클라우드를 배치하기 위해 설정 */

}

/* 클라우드를 화면 하단에 고정하는 스타일 */
.cloud-image {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}