.react-calendar {
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  padding: 20px;
  background-color: #4AC7CF; /* 흰색 배경 */
}

/* 상단의 월과 연도 표시 영역 */
.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.react-calendar__navigation button {
  color: black;
  min-width: 44px;
  background: none;
  font-size: 16px;
  border: none;
  font-family: 'Noto Sans KR Bold', sans-serif;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6f7f9;
  border-radius: 8px;
}

.react-calendar__viewContainer {
  background-color: white;
}

/* 요일 헤더 스타일 */
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #777777;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  font-family: 'Noto Sans KR Medium', sans-serif;
  padding: 10px 0;
}

.react-calendar__month-view__days__day{
  font-family: 'Noto Sans KR Medium', sans-serif;
}

/* 날짜 타일 스타일 */
.react-calendar__tile {
  padding: 15px 0;
  background: none;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #333;
  border: 1px solid transparent;
  transition: background-color 0.3s, color 0.3s;
}

/* 기본 날짜 타일 hover 효과 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {

}

/* 선택된 날짜 스타일 */
.react-calendar__tile--active {

}

.react-calendar__tile--now {
  position: relative;
}

.react-calendar__tile--now::before {
  content: '';
  position: absolute;
  width: 28px; 
  height: 28px;
  border-radius: 50%;
  border: 2px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 비활성화된 날짜 스타일 */
.react-calendar__tile--disabled {
  color: #d6d6d6;
}

/* 주말 날짜 스타일 */
.react-calendar__month-view__days__day--weekend {
  color: #f44336;
}

/* 전체 캘린더의 패딩 및 반응형 스타일 */
@media (max-width: 600px) {
  .react-calendar {
    padding: 10px;
  }

  .react-calendar__tile {
    padding: 10px 0;
  }

  .react-calendar__navigation button {
    font-size: 14px;
  }
}
