.container {
    padding: 25px 31px;
}

.imageWrapper {
    width: 225px;
    height: 350px;
    overflow: hidden; /* 이미지가 영역을 벗어나지 않게 설정 */
    border-radius: 10px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율을 유지하면서 잘리게 설정 */
}
.imageContainer {
    display: flex;
    margin-top: 30px;
    position: relative;
}

.imageBorder {
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #FEDC74 solid;
    border-radius: 10px;
}

.imageText {
    color: #2E2E2E;
    font-size: 16px;
    font-family: Noto Sans KR Medium;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word
}

.hiddenInput {
    display: none;
}

.uploadButton {
    margin-top: 11px;
    display: inline-block;
    width: 297px;
    padding: 10px;
    background: #4AC7CF;
    border-radius: 50px;
    justify-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    font-family: Noto Sans KR;
    font-weight: 500;
    line-height: 15px;
    word-wrap: break-word;
    cursor: pointer;
}

.customContainer {
    margin-left: 35px;
}

.uploadText {
    color: black;
    font-size: 12px;
    font-family: Noto Sans KR Regular;
    font-weight: 400;
    line-height: 15px;
    word-wrap: break-word
}

/* range input 커스텀 스타일 */
input[type="range"] {
    -webkit-appearance: none;
    /* 기본 스타일 제거 */
    width: 100%;
    height: 8px;
    background: #FEDC74;
    /* 바 색상 노란색 */
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #FEDC74;
    /* 바 색상 */
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #4AC7CF;
    /* 동그라미 민트색 */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -2px;
    /* 동그라미가 바와 맞게 정렬되도록 */
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4AC7CF;
    /* 동그라미 민트색 */
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #4AC7CF;
    /* 동그라미 민트색 */
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    background: #FEDC74;
    /* 바 색상 */
    border-radius: 5px;
}

.range-label {
    position: absolute;
    left: 0;
    top: -25px;
    color: black;
    font-size: 12px;
    background: white;
    border-radius: 5px;
    padding: 2px 4px;
}

.circle {
    
    width: 22px;
    height: 22px;
    background: #FEDC74;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    text-align: center;
    color: black;
    font-size: 10px;
    font-family: Noto Sans KR Light;
    font-weight: 400;
    line-height: 10px;
    word-wrap: break-word
}

.imageCustom {
    display: flex;
    flex-direction: row;
}

.rangeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 15px;
}

.customText {
    text-align: center;
    color: black;
    font-size: 11px;
    font-family: Noto Sans KR Light;
    font-weight: 400;
    word-wrap: break-word;
    margin-right: 27px;

}

.customText2 {
    text-align: center;
    color: black;
    font-size: 11px;
    font-family: Noto Sans KR Light;
    font-weight: 400;
    word-wrap: break-word;
    margin-right: 17px;

}

.slideContainer{
    margin-left: 30px;
}

.effectText{
    color: black;
    font-size: 12px;
    font-family: Noto Sans KR Regular;
    font-weight: 400;
    line-height: 15px;
    word-wrap: break-word;
    margin-bottom: 12px;
    margin-top: 20px;
}