.background-colors{
    display: flex;
    flex-direction: column;
    gap: 5.5px;
    margin-left: 24.99px;
    margin-top: 10px;
}

.background-colors div {
    width: 44px; 
    height: 25px;
    cursor: pointer;
    position: relative;
}

.background-color1 {
    width: 44px; 
    height: 25px;
    background: #F8CDCC;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.background-color2 {
    width: 44px; 
    height: 25px;
    background: #FE6F96;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.background-color3 {
    width: 44px; 
    height: 25px;
    background: #E2D4F4;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.background-color4 {
    width: 44px; 
    height: 25px;
    background: #6F69AC;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.background-color5 {
    width: 44px; 
    height: 25px;
    background: #CEE2F5;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.background-color6 {
    width: 44px; 
    height: 25px;
    background: #719FAF;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.background-color7 {
    width: 44px; 
    height: 25px;
    background: #D1E8E5;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.background-color8 {
    width: 44px; 
    height: 25px;
    background: #95DAC1;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.background-color9 {
    width: 44px; 
    height: 25px;
    background: #FBF0CF;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.background-color10 {
    width: 44px; 
    height: 25px;
    background: white;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.background-color11 {
    width: 44px; 
    height: 25px;
    background: #E9DBD0;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.background-color12 {
    width: 44px; 
    height: 25px;
    background: black;
    border-radius: 5px;
    border: 1px #7B7B7B solid
}

.background-colors div.disabled::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 95, 95, 0.5); /* 불투명한 회색 레이어 */
    pointer-events: none; /* 클릭 방지 */
}

.background-colors div.disabled {
    pointer-events: none; /* 클릭 방지 */
}