
.card-back {
    display: flex;
}

.card-back-popname {
    width: 613px;
    border-radius: 15px;
    border: 1.50px #BBBBBB solid;
    align-items: center;
    align-content: center;
    padding: 20px;
}

.place-date {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.back-place {
    width: 60%;
    padding: 20px;
    border-radius: 15px;
    border: 1.50px #BBBBBB solid;
    align-items: center;
    align-content: center;
}

.back-date {
    width: 40%;
    padding: 20px;
    border-radius: 15px;
    border: 1.50px #BBBBBB solid;
    align-items: center;
    align-content: center;
}

.price-with-star {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.back-price{
    width: 30%;
    padding: 20px;
    border-radius: 15px;
    border: 1.50px #BBBBBB solid;
    align-items: center;
    align-content: center;

}

.back-with{
    width: 30%;
    padding: 20px;
    border-radius: 15px;
    border: 1.50px #BBBBBB solid;
    align-items: center;
    align-content: center;

}

.back-star{
    width: 40%;
    padding: 20px;
    border-radius: 15px;
    border: 1.50px #BBBBBB solid;
    align-items: center;
    align-content: center;

}

.rayout-background {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.back-rayout {
    width: 80%;
    padding: 20px;
    height: 236px;
    border-radius: 15px;
    border: 1.50px #BBBBBB solid;
}

.back-background{
    width: 20%;
    height: 236px;
    padding: 20px;
    border-radius: 15px;
    border: 1.50px #BBBBBB solid;
 
}

.making-back-view{
    width: 292px; 
    height: 500.29px;
    background-color: #E0E0E0;
    margin-left: 111px;
    border-radius: 15px;
    margin-top: 53px;
}

.card-back-options{
    margin-top: 130px;
    margin-left: 67px;
}