.card-basic-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
}

.popup-search-container {
    position: relative;
}

.popup-search{
    margin-top: 60px;
    width: 800px;
    padding: 20px;
    border-radius: 50px; 
    border: 3px #4AC7CF solid;
    font-size: 15px;
    font-family: Noto Sans KR Regular;
}

.search-icon {
    position: absolute;
    right: 30px; /* input의 오른쪽 끝에서 10px 떨어지게 설정 */
    top: 92px;
    transform: translateY(-50%); /* 세로 가운데 정렬 */
    height: 22px; /* 원하는 아이콘 크기 */
    cursor: pointer; /* 클릭 가능한 포인터 커서 */
}



.popup-detail-container{
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
}

.popup-post-container{
    display: flex;
    flex-direction: column;
    margin-right: 148px;
}

.popup-post{
    width: 202px; 
    height: 299.52px; 
    background: #D9D9D9; 
    border-radius: 15px;
}

.selected-popup-post{
    width: 202px; 
    height: 299.52px;
    border-radius: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); 
}

.popup-name {
    font-family: Noto Sans KR Regular;
    margin-top: 17px;
    font-size: 18px;
    text-align: center;
    width: 202px; 
}

.popup-detail-title {
    color: black;
    font-size: 15px;
    font-family: Noto Sans KR Regular; 
    line-height: 20px;
    word-wrap: break-word;
    

}

.popup-detail{
   margin-top: 40px;
}

.details-container {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    width: 420px;
    justify-content: space-between;
   
}

.popup-detail-input{
    font-family: Noto Sans KR Regular;
    border: none;
    outline: none;
    width: 280px;
}



.button-container {
    margin-top: 82px;
 
}

.save-button {
    width: 250px; 
    height: 65px; 
    background: #EEEEEE; 
    border: none;
    border-radius: 15px;
    margin-right: 39px;
    font-size: 15px;
    font-family: Noto Sans KR Regular;
    cursor: pointer;
}

.custom-button {
    width: 250px; 
    height: 65px;
    border: none;
    border-radius: 15px;
    background: #FEDC74;
    font-size: 15px;
    font-family: Noto Sans KR Regular;
    color: #B4643A;
    cursor: pointer;
}

.star-rating{
    width: 280px;
}

.star-icon{
    cursor: pointer;
    margin-right: 5px;
}

.public-setting-container {
    background-color: #4AC7CF;
}
