.recommendPopupSection {
  padding: 100px;
  background-color: #4AC7CF;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.title {
  font-size: 32px;
  font-family: 'Noto Sans KR Bold', sans-serif;
  color: white;
}

.viewAllButton {
  position: absolute;
  right: 20px;
  background-color: #FEDC74;
  padding: 10px 20px;
  border-radius: 20px;
  color: #B4643A;
  font-family: 'Noto Sans KR Regular', sans-serif;
  cursor: pointer;
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


.popupImage {
  background-color: white;
  border-radius: 16px;
  width: 300px;
  height: 180px;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.popupItem {
  position: relative;
  border-radius: 20px;
  text-align: center;
}

.popupImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popupDetails {
  position: absolute;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  transition: all 0.4s ease; /* 애니메이션 효과 추가 */
}

.popupItem:hover .popupDetails {
  right: 0; /* 호버 시 오른쪽에서 왼쪽으로 슬라이드 */
}

.popupTitle {
  margin-top: 14px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Noto Sans KR Medium', sans-serif;
  text-align: left;


}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .recommendPopupSection {
    padding: 10px;
  }
  .grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
}