.recommendPopupSection {
  padding: 100px;
  background-color: #4AC7CF;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.title {
  font-size: 32px;
  font-family: 'Noto Sans KR Bold', sans-serif;
  color: white;
}

.viewAllButton {
  position: absolute;
  right: 20px;
  background-color: #FEDC74;
  padding: 10px 20px;
  border-radius: 20px;
  color: #B4643A;
  font-family: 'Noto Sans KR Regular', sans-serif;
  cursor: pointer;
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

.popupItem {
  border-radius: 20px;
  text-align: center;
}

.popupImage {
  background-color: white;
  border-radius: 16px;
  width: 300px;
  height: 150px;
  margin-bottom: 10px;
}

.popupTitle {
  font-size: 16px;
  font-family: 'Noto Sans KR Medium', sans-serif;
  color: #333;
  text-align: left;
}
