.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    transform: scale(0.8);
    transform-origin: top;
    height: 100vh;
    
}

.nameContainer {
    width: 1120px;
    padding: 20px;
    border-radius: 20px;
    border: 3px #4AC7CF solid;
    display: flex;
    justify-content: space-between;

}

.profile {
    display: flex;
}

.stars {
    display: flex;
    gap: 2px;
}


.contentContainer {
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardInfo{
    display: flex;
}

.cardContainer {
    width: 248.94px; /* 카드 크기 조정 */
    height: 369.12px;
    perspective: 1000px; /* 3D 공간 효과 */
}

.cardImage{
    width: 248.94px; /* 카드 크기 조정 */
    height: 369.12px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flipped {
    transform: rotateY(180deg); /* 카드가 뒤집힐 때의 회전 효과 */
}

.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* 뒷면이 앞면을 가리지 않도록 설정 */
}

.cardBack {
    transform: rotateY(180deg); /* 뒷면을 180도 회전 */
}

.flippedButton {
    position: absolute;
    left: -60px;
    bottom: 20px;
    background: none;
    border: none;
    cursor: pointer;
}



.titleContainer {
    margin-top: 55px;
    margin-left: 55px;
    width: 700px;
}

.date {
    font-size: 16px;
    font-family: Noto Sans KR Light;
}

.title {
    font-size: 24px;
    font-family: Noto Sans KR Medium;
    margin-bottom: 32px;
}

.places {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.placeContainer {
    display: flex;
    gap: 10px;
}

.place {
    font-size: 16px;
    font-family: Noto Sans KR Light;
}

.comment {
    margin-top: 86px;
    font-size: 18px;
    font-family: Noto Sans KR Medium;
}

.content {
    margin-top: 109.88px;
    width: 1120px;
    font-size: 18px;
    font-family: Noto Sans KR Light;
    line-height: 35px;
}

.photos {
    display: flex;
    width: 1120px;
    align-items: self-start;
    gap: 17px;
    margin-top: 61px;
}

.photo {
    width: 267px;
    height: 166px;
    border-radius: 10px;
}

.name{
    font-family: Noto Sans KR Regular;
    font-size: 13px;
}

.buttons {
    margin-top: 61px;
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: end;
}

.button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    border: 1px #898989 solid;
    font-size: 14px;
    font-family: Noto Sans KR Light;
    padding: 5px 10px;
    color: #898989;

}

.lineContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;
}

.line {
    width: 397px;
    height: 0px;
    border: 1px #898989 solid;
}

.lineText {
    font-size: 18px;
    font-family: Noto Sans KR Regular;
}

.emotionContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.emotion {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.expression {
    font-size: 10px;
    font-family: Noto Sans KR Light;
}

.num {
    font-size: 15px;
    font-family: Noto Sans KR Regular;
}

.replyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}