@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR Light';
  src: url('./fonts/Noto_Sans_KR/NotoSansKR-Light.otf') format('woff2'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Light.otf') format('woff'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR Bold';
  src: url('./fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('woff2'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('woff'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR Regular';
  src: url('./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('woff2'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('woff'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('truetype');
}