@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR Light';
  src: url('./fonts/Noto_Sans_KR/NotoSansKR-Light.otf') format('woff2'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Light.otf') format('woff'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR Bold';
  src: url('./fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('woff2'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('woff'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR SemiBold';
  src: url('./fonts/Noto_Sans_KR/NotoSansKR-SemiBold.ttf') format('woff2'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-SemiBold.ttf') format('woff'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR Regular';
  src: url('./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('woff2'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('woff'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR Medium';
  src: url('./fonts/Noto_Sans_KR/NotoSansKR-Medium.otf') format('woff2'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Medium.otf') format('woff'),
    url('./fonts/Noto_Sans_KR/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Cafe24 Simplehae';
  src: url('./fonts/Cafe24/Cafe24Simplehae-v2.0.woff') format('woff2'),
    url('./fonts/Cafe24/Cafe24Simplehae-v2.0.woff') format('woff'),
    url('./fonts/Cafe24/Cafe24Simplehae-v2.0.woff') format('truetype');
}

@font-face {
  font-family: 'Cafe24 Ssurround';
  src: url('./fonts/Cafe24/Cafe24Ssurround-v2.0.woff') format('woff2'),
    url('./fonts/Cafe24/Cafe24Ssurround-v2.0.woff') format('woff'),
    url('./fonts/Cafe24/Cafe24Ssurround-v2.0.woff') format('truetype');
}

@font-face {
  font-family: 'Cafe24 Moyamoya';
  src: url('./fonts/Cafe24/Cafe24Moyamoya-Regular-v1.0.woff') format('woff2'),
    url('./fonts/Cafe24/Cafe24Moyamoya-Regular-v1.0.woff') format('woff'),
    url('./fonts/Cafe24/Cafe24Moyamoya-Regular-v1.0.woff') format('truetype'),
}

@font-face {
  font-family: 'CWDangamAsac-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RixInooAriDuriR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hakgyoansim Mulgyeol';
  src: url('./fonts/HakgyoansimMulgyeolR.ttf') format('ttf'),
    url('./fonts/HakgyoansimMulgyeolR.ttf') format('truetype'),
}

@font-face {
  font-family: 'OdibeeSans';
  src: url('./fonts/OdibeeSans-Regular.ttf') format('ttf'),
    url('./fonts/OdibeeSans-Regular.ttf') format('truetype'),
}

.swiper-wrapper {
  position: relative;
  transition-timing-function: linear !important;
}

.swiper-button-prev::after {
  color: #BBBBBB;
  font-size: 22px !important;
}

.swiper-button-next::after {
  color: #BBBBBB;
  font-size: 22px !important;
}


