.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #4AC7CF;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbarLogo img {
  height: 40px;
  margin-left: 100px;
}

.navbarMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 100px;
  margin-right: 100px;
  align-items: center;
}

.navbarMenu li {
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Noto Sans KR Medium', sans-serif;
}

.navbarMenu li:hover {
  text-decoration: underline;
}

.loginButton {
  background-color: #FEDC74;
  padding: 10px 20px;
  border-radius: 20px;
  color: #B4643A !important; 
}